*.log 
*.pot 
*.pyc 
__pycache__/
local_settings.py 
db.sqlite3 
media/ 

Finance/node_modules/  
Finance/build 
.env 

sgnlp_finance_app/model/glove.6B
sgnlp_finance_app/model/colab-zips 
sgnlp_finance_app/model/datasets/finance 
sgnlp_finance_app/static

.DS_Store 
.env_local 
.env.development.local 
.env.test.local 
.env.production.local 