
  .impt {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica; 
  font-weight: bold;
}

  .regular {
  font-family: 'Montserrat', sans-serif, Arial, Helvetica;
}

  .center-container {
    text-align: center;
  }